/*
* Black background with light text.
*/

body {
   background: black;
   color: white;
}
#preso, .slide {
   background: black;
}

.slide {
   border: none;
}

.subsection {
   background: #EEE;
   color: black;
}

#footer {
   display: none;
}
